*.blktrace.*
*.efi
*.ko
*.ko.cmd
*.mod
*.mod.c
*.mod.cmd
*.mod.o
*.mod.o.cmd
*.o
*.o.cmd
*.o.d
*.rpm
*.so
.Module.symvers.cmd
.modules.order.cmd
Cargo.lock
Module.symvers
compile_commands.json
modules.order
modules.order.cmd
rust-project.json
