## 形式化验证
https://www.moritz.systems/blog/an-introduction-to-formal-verification/

https://dafny.org/

https://news.ycombinator.com/item?id=46294574

内核中这个目录的东西是做什么的?
tools/verification/models/sched/

https://leodemoura.github.io/blog/2026-10-15-lean-now-ships-with-verified-kernels/

我们现在已经收集了很多形式验证的东西了
这个东西让我感觉到非常奇怪:
1. 为什么分布式也可以形式化验证?
2. 操作系统为什么可以 ?
3. 并发编程也可以

既然现在有了 AI ，为什么不去用  AI 来做，这样写出来的程序
总是正确的。

https://x.com/poteto/status/2111926622278521253 想不到马上就用了

<script src="https://giscus.app/client.js"
        data-repo="martins3/martins3.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyOTc4MjA0MDg="
        data-category="Show and tell"
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyMDMzNjY4"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

本站所有文章转发 **CSDN** 将按侵权追究法律责任，其它情况随意。
