CONFIG_842_COMPRESS=m
CONFIG_842_DECOMPRESS=m
CONFIG_AC97_BUS=m
CONFIG_ACPI_IPMI=m
CONFIG_ACPI_NFIT=m CONFIG_ACPI_NFIT
CONFIG_ACPI_PROCESSOR_AGGREGATOR=m
CONFIG_ACPI_TAD=m
CONFIG_ACPI_TINY_POWER_BUTTON=m
CONFIG_ACPI_VIDEO=m
CONFIG_ACPI_WMI=m
CONFIG_AHCI_BRCM=m
CONFIG_AHCI_CEVA=m
CONFIG_AHCI_DA850=m
CONFIG_AHCI_DM816=m
CONFIG_AHCI_DWC=m
CONFIG_AHCI_IMX=m
CONFIG_AHCI_MTK=m
CONFIG_AHCI_MVEBU=m
CONFIG_AHCI_QORIQ=m
CONFIG_AHCI_ST=m
CONFIG_AHCI_SUNXI=m
CONFIG_AHCI_TEGRA=m
CONFIG_AHCI_XGENE=m
CONFIG_AMD_ATL=m
CONFIG_ATA=m
CONFIG_BACKLIGHT_CLASS_DEVICE=m
CONFIG_BE2ISCSI=m
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_BT=m
CONFIG_BT_BCM=m
CONFIG_BT_BNEP=m
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_INTEL_PCIE=m
CONFIG_BT_MTK=m
CONFIG_BT_RTL=m
CONFIG_CEC_CORE=m
CONFIG_CFG80211=m
CONFIG_CHR_DEV_SG=m
CONFIG_CONFIGFS_FS=m
CONFIG_CRC64=m
CONFIG_CRYPTO_AES_NI_INTEL=m
CONFIG_CRYPTO_CCM=m
CONFIG_CRYPTO_CMAC=m
CONFIG_CRYPTO_CRC32C_INTEL=m
CONFIG_CRYPTO_CRC32_PCLMUL=m
CONFIG_CRYPTO_CRCT10DIF_PCLMUL=m
CONFIG_CRYPTO_CRYPTD=m
CONFIG_CRYPTO_DEV_CCP=y
CONFIG_CRYPTO_ECC=m
CONFIG_CRYPTO_ECDH=m
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=m
CONFIG_CRYPTO_LIB_AESCFB=m
CONFIG_CRYPTO_LIB_ARC4=m
CONFIG_CRYPTO_LIB_GF128MUL=m
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_CRYPTO_POLYVAL=m
CONFIG_CRYPTO_POLYVAL_CLMUL_NI=m
CONFIG_CRYPTO_SHA1_SSSE3=m
CONFIG_CRYPTO_SHA256_SSSE3=m
CONFIG_CRYPTO_SHA512_SSSE3=m
CONFIG_CRYPTO_SIMD=m
CONFIG_CRYPTO_USER_API=m
CONFIG_CRYPTO_USER_API_HASH=m
CONFIG_CRYPTO_USER_API_SKCIPHER=m
CONFIG_CRYPTO_ZSTD=y
CONFIG_DAX=m
CONFIG_DCA=m
CONFIG_DMADEVICES=y
CONFIG_DMA_ENGINE=y
CONFIG_DMI_SYSFS=m
CONFIG_DM_MULTIPATH=m
CONFIG_DM_RAID=m
CONFIG_DRM_BUDDY=m
CONFIG_DRM_DISPLAY_HELPER=m
CONFIG_DRM_EXEC=m
CONFIG_DRM_GEM_SHMEM_HELPER=m
CONFIG_DRM_GPUVM=m
CONFIG_DRM_I915=m
CONFIG_DRM_KMS_HELPER=m
CONFIG_DRM_MGAG200=m
CONFIG_DRM_SCHED=m
CONFIG_DRM_SUBALLOC_HELPER=m
CONFIG_DRM_TTM=m
CONFIG_DRM_TTM_HELPER=m
CONFIG_DRM_XE=m
CONFIG_EDAC=m
CONFIG_EDAC_DECODE_MCE=m
CONFIG_EDAC_I10NM=m
CONFIG_EDAC_IGEN6=m
CONFIG_EDAC_SKX=m
CONFIG_EEPROM_EE1004=m
CONFIG_EFI_VARS_PSTORE=m
CONFIG_ENCLOSURE_SERVICES=m
CONFIG_FB=m
CONFIG_FUSE_FS=m
CONFIG_GPIO_AMDPT=y
CONFIG_GPIO_GENERIC=y
CONFIG_HID_SENSOR_ACCEL_3D=m
CONFIG_HID_SENSOR_ALS=m
CONFIG_HID_SENSOR_CUSTOM_INTEL_HINGE=m
CONFIG_HID_SENSOR_CUSTOM_SENSOR=m
CONFIG_HID_SENSOR_DEVICE_ROTATION=m
CONFIG_HID_SENSOR_GYRO_3D=m
CONFIG_HID_SENSOR_HUB=m
CONFIG_HID_SENSOR_IIO_COMMON=m
CONFIG_HID_SENSOR_IIO_TRIGGER=m
CONFIG_HID_SENSOR_INCLINOMETER_3D=m
CONFIG_HID_SENSOR_MAGNETOMETER_3D=m
CONFIG_HID_SENSOR_PROX=m
CONFIG_HYPERV=y
CONFIG_I2C_ALGOBIT=m
CONFIG_I2C_I801=m
CONFIG_I2C_MUX=m
CONFIG_I2C_NVIDIA_GPU=m
CONFIG_I2C_PIIX4=m
CONFIG_I2C_SMBUS=m
CONFIG_IGB=m
CONFIG_IIO=m
CONFIG_IIO_KFIFO_BUF=m
CONFIG_IIO_TRIGGERED_BUFFER=m
CONFIG_INFINIBAND=m
CONFIG_INFINIBAND_IPOIB=m
CONFIG_INFINIBAND_ISER=m
CONFIG_INFINIBAND_ISERT=m
CONFIG_INFINIBAND_SRPT=m
CONFIG_INFINIBAND_USER_ACCESS=m
CONFIG_INFINIBAND_USER_MAD=m
CONFIG_INPUT_EVBUG=m
CONFIG_INPUT_EVDEV=m
CONFIG_INPUT_JOYDEV=m
CONFIG_INPUT_LEDS=m
CONFIG_INPUT_MISC=m
CONFIG_INPUT_MISC=y
CONFIG_INPUT_MOUSEDEV=m
CONFIG_INPUT_PCSPKR=m
CONFIG_INTEL_GTT=m
CONFIG_INTEL_IOATDMA=m
CONFIG_INTEL_ISH_HID=m
CONFIG_INTEL_MEI_HDCP=m
CONFIG_INTEL_MEI_PXP=m
CONFIG_INTEL_PCH_THERMAL=m
CONFIG_INTEL_PMC_CORE=m
CONFIG_INTEL_PMT_CLASS=m
CONFIG_INTEL_PMT_TELEMETRY=m
CONFIG_INTEL_POWERCLAMP=m
CONFIG_INTEL_RAPL=m
CONFIG_INTEL_RAPL_CORE=m
CONFIG_INTEL_UNCORE_FREQ_CONTROL=m
CONFIG_IP6_NF_IPTABLES_LEGACY=m
CONFIG_IPMI_DEVICE_INTERFACE=m
CONFIG_IPMI_HANDLER=m
CONFIG_IPMI_SI=m
CONFIG_IPMI_SSIF=m
CONFIG_IP_NF_IPTABLES_LEGACY=m
CONFIG_ISCSI_TARGET=m
CONFIG_ISCSI_TCP=m
CONFIG_ITCO_WDT=m
CONFIG_IWLMVM=m
CONFIG_IWLWIFI=m
CONFIG_IXGBE=m
CONFIG_LEDS_CLASS=m
CONFIG_LIBNVDIMM=m CONFIG_LIBNVDIMM
CONFIG_LPC_ICH=m
CONFIG_LZ4HC_COMPRESS=m
CONFIG_LZ4_COMPRESS=m
CONFIG_MAC80211=m
CONFIG_MAC_EMUMOUSEBTN=m
CONFIG_MDIO=m
CONFIG_MEDIA_SUPPORT=m
CONFIG_MEMORY_FAILURE=y
CONFIG_MFD_INTEL_PMC_BXT=m
CONFIG_MTD=m
CONFIG_MTD_CMDLINE_PARTS=m
CONFIG_MTD_OF_PARTS=m
CONFIG_MTD_SPI_NOR=m
CONFIG_MXM_WMI=m
CONFIG_NETFILTER_NETLINK=m
CONFIG_NFT_CT=m
CONFIG_NFT_FIB=m
CONFIG_NFT_FIB_INET=m
CONFIG_NFT_FIB_IPV4=m
CONFIG_NFT_FIB_IPV6=m
CONFIG_NFT_NAT=m
CONFIG_NFT_REJECT=m
CONFIG_NFT_REJECT_INET=m
CONFIG_NF_REJECT_IPV4=m
CONFIG_NF_REJECT_IPV6=m
CONFIG_NF_TABLES_INET=y
CONFIG_NF_TABLES_IPV4=y
CONFIG_NF_TABLES_IPV6=y
CONFIG_NVME_AUTH=y
CONFIG_PARPORT=m
CONFIG_PARPORT_PC=m
CONFIG_PCI_HYPERV=y
CONFIG_PCI_HYPERV_INTERFACE=m
CONFIG_PINCTRL_ALDERLAKE=m
CONFIG_POWERCAP=y
CONFIG_PPDEV=m
CONFIG_QEDI=m
CONFIG_QRTR=m
CONFIG_R8169=m
CONFIG_RAID_ATTRS=m
CONFIG_RAS=y
CONFIG_RAS_CEC=y
CONFIG_REALTEK_PHY=m
CONFIG_RFKILL=m
CONFIG_RTC_DRV_CMOS=m
CONFIG_SATA_ACARD_AHCI=m
CONFIG_SATA_AHCI=m
CONFIG_SATA_AHCI_PLATFORM=m
CONFIG_SATA_AHCI_SEATTLE=m
CONFIG_SATA_HIGHBANK=m
CONFIG_SCSI_BNX2_ISCSI=m
CONFIG_SCSI_CXGB3_ISCSI=m
CONFIG_SCSI_CXGB4_ISCSI=m
CONFIG_SCSI_DH=y
CONFIG_SCSI_DH_ALUA=m
CONFIG_SCSI_DH_EMC=m
CONFIG_SCSI_DH_RDAC=m
CONFIG_SCSI_ENCLOSURE=m
CONFIG_SCSI_ISCSI_ATTRS=m
CONFIG_SCSI_MPT3SAS=m
CONFIG_SCSI_QLA_ISCSI=m
CONFIG_SCSI_SAS_ATTRS=m
CONFIG_SENSORS_ACPI_POWER=m
CONFIG_SENSORS_CORETEMP=m
CONFIG_SENSORS_K10TEMP=m
CONFIG_SND=m
CONFIG_SND_COMPRESS_OFFLOAD=m
CONFIG_SND_DMAENGINE_PCM=m
CONFIG_SND_HDA=m
CONFIG_SND_HDA_CODEC_HDMI=m
CONFIG_SND_HDA_CODEC_REALTEK=m
CONFIG_SND_HDA_CORE=m
CONFIG_SND_HDA_EXT_CORE=m
CONFIG_SND_HDA_GENERIC=m
CONFIG_SND_HDA_INTEL=m
CONFIG_SND_HDA_SCODEC_COMPONENT=m
CONFIG_SND_HWDEP=m
CONFIG_SND_HWDEP=y
CONFIG_SND_INTEL_DSP_CONFIG=m
CONFIG_SND_INTEL_SOUNDWIRE_ACPI=m
CONFIG_SND_PCM=m
CONFIG_SND_SEQUENCER=m
CONFIG_SND_SEQ_DEVICE=m
CONFIG_SND_SOC=m
CONFIG_SND_SOC_ACPI=m
CONFIG_SND_SOC_ACPI_INTEL_MATCH=m
CONFIG_SND_SOC_ACPI_INTEL_SDCA_QUIRKS=m
CONFIG_SND_SOC_HDA=m
CONFIG_SND_SOC_HDAC_HDA=m
CONFIG_SND_SOC_INTEL_AVS=m
CONFIG_SND_SOC_SDCA=m
CONFIG_SND_SOC_SOF=m
CONFIG_SND_SOC_SOF_HDA=m
CONFIG_SND_SOC_SOF_HDA_COMMON=m
CONFIG_SND_SOC_SOF_HDA_GENERIC=m
CONFIG_SND_SOC_SOF_HDA_MLINK=m
CONFIG_SND_SOC_SOF_INTEL_CNL=m
CONFIG_SND_SOC_SOF_INTEL_TGL=m
CONFIG_SND_SOC_SOF_PCI_DEV=m
CONFIG_SND_SOC_SOF_XTENSA=m
CONFIG_SND_TIMER=m
CONFIG_SOUNDWIRE=m
CONFIG_SOUNDWIRE_CADENCE=m
CONFIG_SOUNDWIRE_GENERIC_ALLOCATION=m
CONFIG_SOUNDWIRE_INTEL=m
CONFIG_SP5100_TCO=m
CONFIG_SPI_INTEL=m
CONFIG_SPI_INTEL_PCI=m
CONFIG_SUNRPC_XPRT_RDMA=m
CONFIG_TARGET_CORE=m
CONFIG_TCG_CRB=m
CONFIG_TCG_TIS=m
CONFIG_TCG_TIS_CORE=m
CONFIG_TYPEC=m
CONFIG_TYPEC_UCSI=m
CONFIG_UCSI_CCG=m
CONFIG_USB_HID=m
CONFIG_USB_KBD=m
CONFIG_USB_UAS=m
CONFIG_USB_XHCI_HCD=m
CONFIG_USB_XHCI_PCI=m
CONFIG_V4L2_ASYNC=m
CONFIG_V4L2_FWNODE=m
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_OV13858=m
CONFIG_WATCHDOG=y
CONFIG_WMI_BMOF=m

## kunpeng 的 flags
CONFIG_ACPI_NFIT=m
CONFIG_AHCI_QORIQ=m
CONFIG_ARM_SBSA_WATCHDOG=m
CONFIG_ATA=m
CONFIG_BRIDGE_NETFILTER=m
CONFIG_CHR_DEV_SG=m
CONFIG_CRYPTO_AES_ARM64_CE=m
CONFIG_CRYPTO_AES_ARM64_CE_BLK=m
CONFIG_CRYPTO_CRYPTD=m
CONFIG_CRYPTO_GHASH_ARM64_CE=m
CONFIG_CRYPTO_SHA1_ARM64_CE=m
CONFIG_CRYPTO_SHA256_ARM64=m
CONFIG_CRYPTO_SHA2_ARM64_CE=m
CONFIG_CRYPTO_SHA512=m
CONFIG_CRYPTO_SIMD=m
CONFIG_CRYPTO_USER=m
CONFIG_ENCLOSURE_SERVICES=m
CONFIG_I2C_DESIGNWARE_CORE=m
CONFIG_I2C_DESIGNWARE_PLATFORM=m
CONFIG_INFINIBAND=m
CONFIG_INFINIBAND_HNS_HIP08=y
CONFIG_INFINIBAND_IPOIB=m
CONFIG_INFINIBAND_ISER=m
CONFIG_INFINIBAND_ISERT=m
CONFIG_INFINIBAND_SRPT=m
CONFIG_INFINIBAND_USER_ACCESS=m
CONFIG_INFINIBAND_USER_MAD=m
CONFIG_IPMI_DEVICE_INTERFACE=m
CONFIG_IPMI_HANDLER=m
CONFIG_IPMI_SI=m
CONFIG_IPMI_SSIF=m
CONFIG_IP_NF_FILTER=m
CONFIG_IP_NF_IPTABLES_LEGACY=m
CONFIG_IP_NF_NAT=m
CONFIG_LIBNVDIMM CONFIG_LIBNVDIMM=m
CONFIG_MEGARAID_SAS=m
CONFIG_MLX5_CORE=m
CONFIG_MLX5_INFINIBAND=m
CONFIG_MLXFW=m
CONFIG_NETFILTER_NETLINK=m
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=m
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=m
CONFIG_NFS_ACL_SUPPORT=m
CONFIG_NF_CONNTRACK=m
CONFIG_NF_CT_NETLINK=m
CONFIG_NF_DEFRAG_IPV4=m
CONFIG_NF_DEFRAG_IPV6=m
CONFIG_NF_NAT=m
CONFIG_OVERLAY_FS CONFIG_OF_OVERLAY=m
CONFIG_REALTEK_PHY=m
CONFIG_SATA_AHCI=m
CONFIG_SCSI_ENCLOSURE=m
CONFIG_SCSI_HISI_SAS=m
CONFIG_SCSI_HISI_SAS_PCI=m
CONFIG_SCSI_SAS_ATTRS=m
CONFIG_SCSI_SAS_LIBSAS=m
CONFIG_SPI_DW_MMIO=m
CONFIG_SUNRPC_XPRT_RDMA=m
CONFIG_XFS_FS=m

# 作为 nfs server 才需要的
CONFIG_NFSD=m
CONFIG_NFSD_V4=y

CONFIG_X86_X2APIC=y

CONFIG_DRM=m
CONFIG_FB=m

CONFIG_SOUND=m
CONFIG_HID=m

CONFIG_FUSE=m

CONFIG_VFIO=m
CONFIG_VFIO_MDEV=m

CONFIG_IGC=m

# 这几个总是被物理机依赖，
# 而且 streamline_config.pl 还找不到
CONFIG_RAS=y
CONFIG_EDAC=y
CONFIG_DMADEVICES=y
CONFIG_WATCHDOG=y
