name: Lint Markdown By Lint Markdown

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint-markdown:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: lint-md-github-action
        uses: lint-md/github-action@v0.0.2
        with:
                files: './doc'
                configFile: '.lintmdrc'
                failOnWarnings: true
